<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">

      <div class="card shadow-lg">
        <div class="card-body p-4">

  

          <hr>
           <p class="card-text">
            {{ livro.titulo }}
            <strong> titulo</strong>
          </p>
       
          <p class="card-text">
            <strong>Autor:</strong> {{ livro.autor }}
          </p>

          <p class="card-text">
            <strong>Gênero:</strong> {{ livro.genero }}
          </p>

          <p class="card-text">
            <strong>Descrição:</strong>
          </p>

          <p class="card-text text-muted">
            {{ livro.descricao }}
          </p>

          <hr>

    
          <div class="d-flex justify-content-between mt-4">

            <div>
              <button class="btn btn-success me-2" (click)="save()">
                Salvar
              </button>

              <button class="btn btn-warning me-2" (click)="editar()">
                Editar
              </button>

              <button class="btn btn-danger" (click)="delete()">
                Excluir
              </button>
            </div>

            <div class="text-muted small align-self-center">
              Status: Não salvo no banco
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>